plugins {
    id 'nf-quilt'
}

params {
    dragen_path = null
    target_bed = null
    snpeff_db = 'GRCh38.99'
    reference_path = '/home/ubuntu/annotation/fasta/hg38-custom-reference-genome-1.1.0/hg38.fa'
    outdir = 'output'
    samtools_path = '/home/ubuntu/software/miniconda3/envs/tbWGS/bin/samtools'
    rmsk_path = '/home/ubuntu/annotation/fasta/hg38-custom-reference-genome-1.1.0/hg38-ht_mask_bed-v3.bed'
}

env {
	PATH = "/home/ubuntu/software/snpEff/exec/:$PATH"
}

